@charset "utf-8";
/* CSS Document */
* {box-sizing: border-box;}

body{font-family: 'Roboto', sans-serif; margin:0px; padding:0px; background:#F1EDDF;}

#logo{width:100%; height:50px; background:#FFF; margin:0px; padding:0px;}

#logo h1{color:#000; margin-left:15%; font-size:35px;}

#logo span{color:#E61F1F;}

#menu{background:#E61F1F; width:100%; height:40px;  padding-left:11%; margin-top:0;}

#menu li{ float:left; list-style:none;}

#menu i{line-height:25px; border-right:1px dashed #FFFFFF;}

#menu li a{margin:10px; color:#FFF; text-decoration:none; float:left;}



#araclar{width:100%; height:auto;}

#altbanner{background-image:url(banner_arac.jpg); width:100%; height:340px; background-repeat:no-repeat;
margin-left:5%;}

hr{width:25%; margin-top:20px; margin-bottom:20px;}

.kutu{width:250px; height:260px; margin-left:60px; margin-bottom:20px;  background:#FCFCFC; 
border-radius:3px; border:1px solid #B4BAC2; float:left; background:#FFF;}

.resim{width:100%; height:180px;}

.kutu h5{text-align:center; font-size:16px;}

.kutu hr{width:20px;}





footer{width:100%; height:50px; border-top:2px solid #EAEAEA; background-color:#FFF; padding-left:15%; 
padding-right:180px; line-height:50px; float:left;}

span{color:#F00;}

#sosyalikon{width:140px; height:50px; float:right; padding-left:50px;}

#sosyalikon i{margin-left:5px; color:#666;}
